.swiper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  .sw-list{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    li{
      display: inline-block;
      width: 0%;
      height: 100%;
      -webkit-transition: 3s;
      -moz-transition: 3s;
      -ms-transition: 3s;
      -o-transition: 3s;
      transition: 3s;
      a{
        display: block;
        width: 100%;
        height: 100%;
        background-clip: content-box;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    .set-banner{
      width: 100%;
    }
  }
}