.shop-det_head{
  background-color: #fff;
  .content{
    width: 100%;
    margin: 0 auto;
    padding: 40px 40px;
    display: flex;
    border-radius: 4px;
    .det-head_left{
      width: 61%;
      .left-con{
        height: 300px;
        .con-show_img{
          height: 100%;
          img{
            height: 100%;
          }
        }
      }
      .left-foo{
        .con-img_list{
          width: 100%;
          overflow-x: scroll;
          li{
            border: 1px solid #ccc;
            margin-left: 10px;
            padding: 5px;
            cursor: pointer;
            overflow: hidden;
            opacity: 0.8;
            display: inline-block;
            vertical-align: center;
            width: 15%;
            height: 86px;
            &:hover{
              opacity: 1;
            }
            &:hover img{
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
              transform: scale(1.1);
            }
            img{
              width: 100%;
              height: 100%;
              transition: all 0.2s;
            }
          }
          .set-li{
            opacity: 1;
            border: 1px solid yellow;
          }
        }
      }
    }
    .det-head_right{
      width: 39%;
      padding-top: 80px;
      .right-head{
        border-bottom: 1px solid #ebebeb;
        h5{
          font-size: 24px;
          line-height: 1.25;
          color: #000;
          margin-bottom: 13px;
          font-weight: 400;
        }
        p{
          margin-bottom: 15px;
          font-size: 14px;
          line-height: 1.5;
          color: #bdbdbd;
        }
      }
      .right-con{
        border-bottom: 1px solid #ebebeb;
        .price{
          padding: 15px 0;
          margin: 5px 0;
          font-size: 24px;
          color: #de4037;
          font-weight: 700;
        }
        .inventory{
          color: #8d8d8d;
          font-size: 14px;
          margin-left: 10px;
          font-weight: 400;
        }
      }
      .right-foo{
        margin-top: 40px;
        button{
          margin-right: 20px;
          font-size: 16px;
          height: 40px;
        }
      }
    }
  }
}