.op-num{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  span{
    padding: 5px 13px 8px;
  }
  .num{
    display: inline-block;
    width: 45px;
  }
  .add, .reduc{
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    &:hover{
      background-color: #f1f1f1;
    }
  }
}